
<form method="POST">
    <label for="dateInput">Select Date:</label>
    <input name="dateInput" id="dateInput" type="date" required min="@DateTime.Now.ToString("yyyy-MM-dd")">
    <br><br>
    <button type="submit">Submit</button>
   
</form>